/* RESET */
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #a8d8ff, #ffffff, #ffc0cb);
  color: #333;
  text-align: center;
  padding: 20px;
}

/* TÍTULO */
h2 {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

/* NAV */
nav {

  padding: 20px 5%;
}

nav ul {

  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
}

nav a {

  text-decoration: none;
  color: var(--branco);
  background: rgba(255, 255, 255, 0.2);
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid var(--tituloNuvem);
  color: var(--tituloNuvem);
}


/* CONTEÚDO */
main {
  max-width: 800px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}

/* PARÁGRAFOS */
p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* SUBTÍTULOS */
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ff7eb3;
}

/* DESTAQUE */
.subtexto {
  font-size: 1.2rem;
}

/* EFEITO LEVE */
main:hover {
  transform: scale(1.01);
  transition: 0.3s;
}
.imagemLogo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: left;
}
footer {

  margin-top: 70px;
  padding: 35px 20px;
  background: rgba(255, 255, 255, 0.2);
}

.footer-links {

  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-links a {

  color: var(--branco);
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 40px;
  transition: 0.3s;
}

.footer-links a:hover {

  background: rgba(255, 255, 255, 0.4);
}

/* imagens do rodape*/
.imagemHome,
.imagemSobre,
.imagemFormulario,
.imagemCardapio {

  width: 24px;
  transition: 0.3s;
}

.fraseRodape {

  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  color: var(--texto);
  margin-bottom: 15px;
}

.contatoRodape {

  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.imagemRodape {

  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.imagemLogoRodape {

  width: 150px;
  transition: 0.3s;
}